<!-- components/header.html -->
<header th:fragment="headerLibrary">

	<meta charset="UTF-8">

	<title>Cosns - together we strong</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />

</header>

<header th:fragment="headerScript">
	<div th:include="components/loginRegister :: loginRegisterScript" th:remove="tag"></div>
	<script>
		main.factory('messageService', function() {
			var shared = {
				dialogMessage : '',
				user : null
			};

			return {
				getShared : function() {
					return shared;
				},
				setMessage : function(message) {
					shared.dialogMessage = message;
				},
				setUser : function(user) {
					shared.user = user;
				}
			}
		});

		main.controller('messageController', function($scope, $timeout, messageService) {
			$scope.shared = messageService.getShared();

			var timeoutPromise;
			$scope.$watch('shared', function() {
				$timeout.cancel(timeoutPromise);

				timeoutPromise = $timeout(function() {
					$scope.shared.dialogMessage = '';
				}, 3000);

			}, 3000);
		});
	</script>
</header>

<header th:fragment="headerBody">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">COSNS</a>
				<div  class="nav-collapse in collapse" style="height:auto">

					<div th:include="components/loginRegister :: loginRegisterBody"></div>

				</div>
			</div>
		</div>
	</div>
	<div ng-controller="messageController">
		<div id="postMessage" ng-show="shared.dialogMessage" class="alert modal">
			<span class="row offset2">{{shared.dialogMessage}} <a href="#" class="close" ng-click="shared.dialogMessage = null; $event.preventDefault();">X</a></span>
		</div>
	</div>

</header>