<!-- components/header.html -->
<header th:fragment="loginRegister">
	<script>
		main
				.controller(
						'userController',
						function($scope, $http) {
							$scope.login = function() {
								if ($scope.login.email) {
									$http({
										url : "/user/login",
										method : "POST",
										headers : {
											'Content-Type' : 'application/json'
										},
										data : {
											'email' : $scope.login.email,
											'password' : $scope.login.password,

										}
									}).success(
											function(data, status, headers,
													config) {
												$scope.status = status;
												alert(data.status + '\n'
														+ data.remarks);

											}).error(
											function(data, status, headers,
													config) {
												alert(data.status + '\n'
														+ data.remarks);
											});
								}
							};
							$scope.register = function() {
								if ($scope.register.email) {
									if ($scope.register.password == $scope.register.passwordAgain) {
										$http(
												{
													url : "/user/register",
													method : "POST",
													headers : {
														'Content-Type' : 'application/json'
													},
													data : {
														'email' : $scope.register.email,
														'password' : $scope.register.password,
														'passwordAgain' : $scope.register.passwordAgain,

													}
												}).success(
												function(data, status, headers,
														config) {
													$scope.status = status;
													alert(data.status + '\n'
															+ data.remarks);

												}).error(
												function(data, status, headers,
														config) {
													alert(data.status + '\n'
															+ data.remarks);
												});
									} else {
										alert("please verify your password")
									}

								}
							};
							
							showRegister = false;
						});
	</script>
	<div ng-controller="userController">
		<form class="navbar-form pull-right" ng-submit="login()">
			<input class="span2" type="text" ng-model="login.email" name="email"
				placeholder="Email"> <input class="span2" type="password"
				ng-model="login.password" name="password" placeholder="Password">
			<button type="submit" class="btn">Sign in</button>
			<a href="#myModal" role="button" class="btn"
				ng-click="showRegister=true">Register</a>
		</form>

		<div id="myModal" ng-show="showRegister" class="modal">
			<div class="modal-header">
				<button type="button" class="close" ng-click="showRegister=false">&times;</button>
				<h3>Register</h3>
			</div>
			<form ng-submit="register()" name="registerForm">
				<div class="modal-body">
					<table>
						<tr>

							<td>Email :</td>
							<td><input type="text" ng-model="register.email"
								name="email" /></td>
						</tr>
						<tr>
							<td>Password :</td>
							<td><input type="password" ng-model="register.password"
								name="password" /></td>
						</tr>
						<tr>
							<td>Password Again :</td>
							<td><input type="password" ng-model="register.passwordAgain"
								name="passwordAgain" /></td>
						</tr>

					</table>


				</div>
				<div class="modal-footer">
					<a href="#" class="btn" ng-click="showRegister=false">Close</a> <input
						type="submit" id="register" value="register"
						class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

</header>