<!-- components/header.html -->
<header th:fragment="loginRegisterScript">
	<script th:inline="javascript">
		main.controller('userController', function($scope, $http, $timeout, messageService) {
			$scope.login = function() {
				$scope.showRegister = false;
				if ($scope.login.email) {
					$http({
						url : "/user/login",
						method : "POST",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							'email' : $scope.login.email,
							'password' : $scope.login.password,

						}
					}).then(function(response) {
						if (response.data.status == 'success') {

							messageService.setUser(response.data.user);
							$scope.message(response.data.remarks)
						} else {

							$scope.message(response.data.remarks)
						}

					});
				}
			};
			$scope.logout = function() {
				$http({
					url : "/user/logout",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).then(function(response) {
					messageService.setUser(response.data.user);

				});
			};

			$scope.register = function() {
				if ($scope.register.email) {
					if ($scope.register.password == $scope.register.passwordAgain) {
						$http({
							url : "/user/register",
							method : "POST",
							headers : {
								'Content-Type' : 'application/json'
							},
							data : {
								'email' : $scope.register.email,
								'password' : $scope.register.password,
								'passwordAgain' : $scope.register.passwordAgain,
							}
						}).then(function(response) {
							if(response.data.status == 'success'){
								$scope.message(response.data.remarks);
								$scope.showRegister = false;
							}else{
								$scope.message(response.data.remarks);
							}
							
						});
					} else {
						$scope.message("please verify your password")
					}

				}
			};

			$scope.message = function(message) {
				messageService.setMessage(message);
			}

			messageService.setUser(/*[[${user}]]*/{});

			$scope.shared = messageService.getShared();
		});
	</script>
</header>
<header th:fragment="loginRegisterBody">
	<nav class=" mr-auto">
		<a class="p-2 text-dark" href="/c">Calendar</a> 
		<a class="p-2 text-dark" href="/t" ng-show="shared.user">Timeline</a> 
		<a class="p-2 text-dark" href="/w" ng-show="shared.user">Write</a>
	</nav>

	<div ng-hide="shared.user" class="ml-auto">
		<form ng-submit="login()" class="form-inline">
			<input class="form-control mr-sm-2" type="text" ng-model="login.email" name="email" placeholder="Email"> <input class="form-control mr-sm-2" type="password" ng-model="login.password" name="password" placeholder="Password">

			<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Sign in</button>

			<a href="#" role="button" class="btn" ng-click="showRegister ? showRegister = false : showRegister = true">Register</a>
		</form>
	</div>

	<div ng-show="shared.user">
		<a href="/u/">{{shared.user.displayName ? shared.user.displayName : shared.user.uniqueName}}</a> &nbsp;<a href="/setting/">Setting</a> <a href="#" ng-click="logout(); $event.preventDefault();">Logout</a>
	</div>

</header>