<!-- components/header.html -->
<header th:fragment="loginRegisterScript">
	<script src="/js/user.js"></script>
	<script th:inline="javascript">
		main.controller('userController', function($scope, $http, $timeout, messageService, userService) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			userService.setMessageService(messageService);

			$scope.login = function() {
				userService.login($scope.login.email, $scope.login.password).then(function() {
					$scope.showRegister = false;
				});

			};
			$scope.logout = function() {
				userService.logout();
			};

			$scope.register = function() {
				if ($scope.register.email) {
					if ($scope.register.password == $scope.register.passwordAgain) {
						userService.register($scope.register.email, $scope.register.password, $scope.register.passwordAgain).then(function() {
							$scope.showRegister = false;
						});
					} else {
						shared.messageService.setMessage("please verify your password");
					}
				}

			};

			messageService.setUser(/*[[${user}]]*/{});
		});
	</script>
</header>
<header th:fragment="loginRegisterBody">
	<nav class="mr-auto">
		<a class="p-2 text-dark" href="/c">Calendar</a> <a class="p-2 text-dark" href="/t" ng-show="sharedUser.user">Timeline</a> <a class="p-2 text-dark" href="/w" ng-show="sharedUser.user">Write</a>
	</nav>

	<div ng-hide="sharedUser.user" class="ml-auto">
		<form ng-submit="login()" class="form-inline">
			<input class="form-control mr-sm-2" type="text" ng-model="login.email" name="email" placeholder="Email"> <input class="form-control mr-sm-2" type="password" ng-model="login.password" name="password" placeholder="Password">

			<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Sign in</button>

			<a href="#" role="button" class="btn" ng-click="showRegister ? showRegister = false : showRegister = true">Register</a>
		</form>
	</div>

	<div ng-show="sharedUser.user">
		<a href="/@" class="btn">{{sharedUser.user.displayName ? sharedUser.user.displayName : (sharedUser.user.uniqueName ? sharedUser.user.uniqueName : sharedUser.user.email)}}</a> <a href="/setting/" class="btn"><i class="fas fa-cog"></i> Setting</a> <a href="#" ng-click="logout(); $event.preventDefault();" class="btn"><i class="fas fa-sign-out-alt"></i> Logout</a>
	</div>

</header>