<header th:fragment="viewPostScript">
	<script src="/js/post.js"></script>
</header>

<body th:fragment="viewPosts(section)">

	<th:block th:switch="${section}">

		<div th:case="'detail'">
			<div th:include="components/post :: viewPostDetail()" th:remove="tag"></div>
		</div>
		<div th:case="'thumbnail-mid'">
			<div th:include="components/post :: viewPostThumbnailMid()" th:remove="tag"></div>
		</div>
		<div th:case="'thumbnail'" class="row">
			<div th:include="components/post :: viewPostThumbnail()" th:remove="tag"></div>
		</div>
	</th:block>

</body>

<body th:fragment="viewPostDetail()">

	<div th:include="components/post :: RetweetedBy()" th:remove="tag"></div>

	<div th:include="components/post :: CreatorAndCreateDate()" th:remove="tag"></div>

	<div th:include="components/post :: LikeAndRetweetWithLikeCoin()" th:remove="tag"></div>

	<div class="well" ng-bind-html="::post.message | hashTag"></div>

	<div th:attr="ng-repeat='image in post.postImages'">
		<img ng-src="/image/{{::image.filename}}" class="img-fluid m-1 rounded" />
	</div>


</body>

<body th:fragment="viewPostThumbnailMid()">

	<div th:include="components/post :: RetweetedBy()" th:remove="tag"></div>

	<div th:include="components/post :: CreatorAndCreateDate()" th:remove="tag"></div>

	<div th:include="components/post :: LikeAndRetweetWithLikeCoin()" th:remove="tag"></div>

	<a href="/@{{::post.postKey}}">
		<div th:attr="ng-repeat='image in post.postImages | limitTo:1'">
			<img ng-src="/image/{{::image.filename}}" class="img-fluid m-1 rounded" />
		</div>
		<div class="row m-0 p-1">
			<div class="col-md-4 m-0 p-1" th:attr="ng-repeat='image in post.postImages | limitTo:5:1'">
				<img ng-src="/image/{{::image.filename}}" class="img-fluid m-1 rounded" />
			</div>
		</div>
	</a>

	<div class="well" ng-bind-html="post.message | hashTag"></div>
</body>

<body th:fragment="viewPostThumbnail()">

	<div th:include="components/post :: LikeAndRetweet()" th:remove="tag"></div>

	<div th:include="components/post :: Creator()" th:remove="tag"></div>

	<a href="/@{{::post.postKey}}">
		<div th:attr="ng-repeat='image in post.postImages | limitTo:1'">
			<img ng-src="/image/{{::image.thumbnailFilename}}" class="img-fluid m-1 rounded" />
		</div>
		<div class="row m-0 pb-1" ng-if="post.postImages.length > 1">
			<div class="col-md-1 m-0 p-1" th:attr="ng-repeat='image in post.postImages | limitTo:5:1'">
				<i class="far fa-circle" style="color: #AAAAAA"></i>
			</div>
		</div>
	</a>
	<div th:attr="ng-repeat='hashtag in post.hashtags'" class="m-0 p-0">
		<a href="/h/{{::hashtag.hashTag}}" class="badge badge-info">#{{::hashtag.hashTag}}</a>&nbsp;
	</div>

</body>

<body th:fragment="RetweetedBy()">
	<div ng-if="post.retweetedBy">
		<div class="row shadow-sm card">
			<div class="col">
				<span style="font-size: 12px"><i class="fas fa-undo"></i> &nbsp; Retweet By</span> <span ng-repeat="retweetedByPost in post.retweetedBy"> <a href="/@{{retweetedByPost.user.uniqueName ? retweetedByPost.user.uniqueName : retweetedByPost.user.userId}}" style="font-size: 14px">{{retweetedByPost.user.displayName ? retweetedByPost.user.displayName : (retweetedByPost.user.uniqueName ? retweetedByPost.user.uniqueName : retweetedByPost.user.userId)}}</a>
				</span>
			</div>

			<div class="col-ml-auto" style="font-size: 10px">
				<a href="/@{{::post.postKey}}">{{::post.createdate | date:'MM/dd/yyyy'}}</a> &nbsp;
			</div>
		</div>
	</div>
</body>

<body th:fragment="CreatorAndCreateDate()">
	<div class="row">
		<div class="col">
			<i class="fas fa-id-card"></i> {{::post.postId}} &nbsp;<i class="fas fa-user"></i>&nbsp;<a href="/@{{post.user.uniqueName ? post.user.uniqueName : post.user.userId}}" style="font-size: 14px">{{post.user.displayName ? post.user.displayName : (post.user.uniqueName ? post.user.uniqueName : post.user.userId)}}</a>
		</div>
		<div class="col-ml-auto">
			<a href="/@{{post.postKey ? post.postKey : post.postId}}">{{post.releaseDate ? post.releaseDate : post.createdate | date:'dd/MM/yyyy'}}</a> &nbsp; <a href="#" ng-if="sharedUser.user.userId == post.user.userId" ng-click="removePost(post);$event.preventDefault()"><i class="far fa-trash-alt"></i></a>
		</div>
	</div>
</body>

<body th:fragment="Creator()">
	<div class="ml-auto pt-2">
		<a href="/@{{post.user.uniqueName ? post.user.uniqueName : post.user.userId}}" style="font-size: 14px">@{{post.user.displayName ? post.user.displayName : (post.user.uniqueName ? post.user.uniqueName : post.user.userId)}}</a>
	</div>
</body>

<body th:fragment="LikeAndRetweet()">
	<div ng-if="sharedUser.user" class='mr-auto d-inline-flex'>
		<span> <a href="#" class="btn" ng-click="likePost(post); $event.preventDefault();"> <span ng-if="post.liked"><i class="fas fa-arrow-up fa-1x" style="color: red"></i></span> <span ng-if="!post.liked"><i class="fas fa-arrow-up fa-1x"></i> </span> <span ng-if="post.likeCount > 0">{{post.likeCount}}</span>
		</a>
		</span> <span ng-if="post.retweeted" class="btn"> <i class="fas fa-undo" style="color: #CCCCCC"></i> <span ng-if="post.retweetCount > 0">{{post.retweetCount}}</span>
		</span> <span ng-if="!post.retweeted && sharedUser.user.userId != post.user.userId"> <a href="#" class="btn" ng-click="retweetPost(post); $event.preventDefault();"> <i class="fas fa-undo"></i> <span ng-if="post.retweetCount > 0">{{post.retweetCount}}</span>
		</a>
		</span>
	</div>
	<div ng-if="!sharedUser.user" class='mr-auto'>
		<span class="btn"><i class="fas fa-arrow-up fa-1x" style="color: #CCCCCC"></i><span ng-if="post.likeCount > 0"> {{post.likeCount}}</span>&nbsp;&nbsp;<span ng-if="post.retweetCount > 0"><i class="fas fa-undo fa-1x" style="color: #CCCCCC"></i> {{post.retweetCount}}</span> </span>
	</div>
</body>


<body th:fragment="LikeAndRetweetWithLikeCoin()">
	<div ng-if="sharedUser.user" class='mr-auto d-inline-flex'>
		<div ng-if="post.user.likeCoinId">
			<iframe scrolling="no" frameborder="0" id="player" ng-init="getLikeCoinURL(post.user.likeCoinId)" ng-src="{{likeCoinURL}}" allowfullscreen="true"></iframe>
		</div>
		<div>
			<span> <a href="#" class="btn" ng-click="likePost(post); $event.preventDefault();"> <span ng-if="post.liked"><i class="fas fa-arrow-up fa-1x" style="color: red"></i></span> <span ng-if="!post.liked"><i class="fas fa-arrow-up fa-1x"></i> </span> <span ng-if="post.likeCount > 0">{{post.likeCount}}</span>
			</a>
			</span> <span ng-if="post.retweeted" class="btn"> <i class="fas fa-undo" style="color: #CCCCCC"></i> <span ng-if="post.retweetCount > 0">{{post.retweetCount}}</span>
			</span> <span ng-if="!post.retweeted && sharedUser.user.userId != post.user.userId"> <a href="#" class="btn" ng-click="retweetPost(post); $event.preventDefault();"> <i class="fas fa-undo"></i> <span ng-if="post.retweetCount > 0">{{post.retweetCount}}</span>
			</a>
			</span>
		</div>
	</div>
	<div ng-if="!sharedUser.user" class='mr-auto d-inline-flex'>
		<div ng-if="post.user.likeCoinId">
			<iframe scrolling="no" frameborder="0" id="player" ng-init="getLikeCoinURL(post.user.likeCoinId)" ng-src="{{likeCoinURL}}" allowfullscreen="true"></iframe>
		</div>
		<div>
			<span class="btn"><i class="fas fa-arrow-up fa-1x" style="color: #CCCCCC"></i><span ng-if="post.likeCount > 0"> {{post.likeCount}}</span>&nbsp;&nbsp;<span ng-if="post.retweetCount > 0"><i class="fas fa-undo" style="color: #CCCCCC"></i> {{post.retweetCount}}</span> </span>
		</div>
	</div>
</body>

