
<!doctype html>
<html lang="en">
<head>



<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'infinite-scroll' ]);

		main.controller('searchController', function($scope, $http, messageService) {

			$scope.search = function() {
				console.log($scope.keyword);
				if ($scope.keyword) {
					$http({
						url : "/post/searchPosts",
						method : "POST",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							keyword : $scope.keyword
						}
					}).then(function(response) {
						if (response.data.postList) {
							$scope.message("found " + response.data.postList.length + " records");
							$scope.postList = response.data.postList;
						} else {
							$scope.message("no records found");
						}

					});
				}
			}
			$scope.message = function(message) {
				messageService.setMessage(message);
			}

		});

		main.controller('viewPostController', function($scope, postService, messageService) {
			$scope.shared = messageService.getShared();

			var handleResponse = function(response, type) {
				if (response.data.status == 'success') {
					$scope.message(type + " success");
				} else {
					$scope.message(type + " failed : " + response.data.remarks);
				}
			}

			$scope.likePost = function(postId) {
				postService.likePost(postId).then(function(response) {
					//handleResponse(response, 'like');
				});
			}

			$scope.retweetPost = function(postId) {
				postService.retweetPost(postId).then(function(response) {
					handleResponse(response, 'retweet');
				});
			}

			$scope.loadPost = function() {
				postService.loadPosts("getLatestPost").then(function(response) {
					if (response.data.postList.length > 0) {
						$scope.postList = response.data.postList;
					} else {
						$scope.postList = {};
					}
				});
			};
			$scope.loadPost();

			$scope.message = function(message) {
				messageService.setMessage(message);
			}

			$scope.$watch('shared.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost();
				}
			});

		});
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container">
		<div ng-controller="searchController" class="row">

			<div class="form-inline">
				<h3>Search</h3>
				&nbsp;
				<form ng-submit="search()">
					<input class="form-control mr-sm-2" type="text" ng-model="keyword" />
					<button class="form-control mr-sm-2" type="submit">Search</button>
				</form>
			</div>
			<div ng-show="postList" class="container-fluid">
				<h3>Search Result</h3>
				<div ng-repeat="post in postList" class="card col-md-3 m-1">
					<div th:include="components/post :: viewPosts('thumbnail')"
						th:remove="tag"></div>
				</div>
			</div>
		</div>
		<h3 class="row">Latest 20 Post</h3>
		<div ng-controller="viewPostController" class="row">

			<div ng-repeat="post in postList" class="card col-md-3 m-1">
				<div th:include="components/post :: viewPosts('thumbnail')"
					th:remove="tag"></div>
			</div>
		</div>

	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>

</body>
</html>