
<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'infinite-scroll', 'ngSanitize' ]);

		main.controller('searchController', function($scope, $http, postService, messageService, $rootScope) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			postService.setMessageService(messageService);

			$scope.search = function() {
				if ($scope.keyword) {
					postService.searchPosts($scope.keyword, 'date', handler);
				}
			}

			$scope.likePost = function(post) {
				postService.likePost(post, 'search');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'search');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'search');
			}
			$scope.searchPost = function(keyword, handler) {
				postService.searchPost(keyword, 'date', handler);
			}

			var handler = function(postList) {
				$scope.postList = postList;
			}

			$scope.$watch('sharedUser.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.search();
				}
			});

			$scope.$on('postUpdate', function(event, value) {
				if (value != 'search') {
					$scope.search();
				}
			})
		});

		main.controller('latestPostController', function($scope, postService, messageService, $rootScope) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			postService.setMessageService(messageService);

			$scope.likePost = function(post) {
				postService.likePost(post, 'latestPost');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'latestPost');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'latestPost');
			}
			$scope.loadPost = function(handler) {
				postService.loadPosts("getLatestPost", handler);
			}

			var handler = function(postList) {
				$scope.postList = postList;
			}

			$scope.loadPost(handler);

			$scope.$watch('sharedUser.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost(handler);
				}
			});

			$scope.$on('postUpdate', function(event, value) {
				if (value != 'latestPost') {
					$scope.loadPost(handler);
				}
			})
		});

		main.controller('topPostController', function($scope, $filter, postService, messageService, $rootScope) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			postService.setMessageService(messageService);

			$scope.orderByString = '-todayViewCount';
			$scope.selectedType = 'day';

			$scope.likePost = function(post) {
				postService.likePost(post, 'topPost');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'topPost');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'topPost');
			}

			$scope.loadPost = function(handler) {
				var type = $scope.selectedType;
				var curDate = $filter('date')(new Date(), 'yyyy-MM-dd');
				postService.loadPosts("getTopPost/" + type + "/" + curDate, handler);
			}

			var handler = function(postList) {
				$scope.postList = postList;
			}

			$scope.$watch('sharedUser.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost(handler);
				}
			});

			$scope.dayTopPost = function() {
				$scope.orderByString = '-todayViewCount';
				$scope.selectedType = 'day';

				$scope.loadPost(handler);
			}
			$scope.monthTopPost = function() {
				$scope.orderByString = '-todayViewCount';
				$scope.selectedType = 'month';

				$scope.loadPost(handler);
			}
			$scope.yearTopPost = function() {
				$scope.orderByString = '-todayViewCount';
				$scope.selectedType = 'year';

				$scope.loadPost(handler);
			}
			$scope.allTopPost = function() {
				$scope.orderByString = '-totalViewCount';
				$scope.selectedType = 'all';

				$scope.loadPost(handler);
			}

			$scope.loadPost(handler);

			$scope.$on('postUpdate', function(event, value) {
				if (value != 'topPost') {
					$scope.loadPost(handler);
				}
			})

		});
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>
	<div class="container">
		<h3 class="row m-3">search</h3>
		<div ng-controller="searchController" class="row m-3">

			<div class="form-inline">
				<form ng-submit="search()">
					<input class="form-control mr-sm-2" type="text" ng-model="keyword" />
					<button class="form-control mr-sm-2" type="submit">Search</button>
				</form>
			</div>
			<div ng-show="postList" class="row">
				<div ng-repeat="post in postList | filter: {removed : false}" class="col-md-2 m-4">
					<div th:include="components/post :: viewPosts('thumbnail')" th:remove="tag"></div>
				</div>
			</div>
		</div>

		<h3 class="row m-3">top 10 post</h3>
		<div ng-controller="topPostController" class="row m-3">
			<div class="col-12">
				<div class="btn-group">
					<button type="button" class="btn btn-secondary" ng-click="dayTopPost()">Today</button>
					<button type="button" class="btn btn-secondary" ng-click="monthTopPost()">Month</button>
					<button type="button" class="btn btn-secondary" ng-click="yearTopPost()">Year</button>
					<button type="button" class="btn btn-secondary" ng-click="allTopPost()">All Times</button>
				</div>
			</div>
			<div class="row" ng-show="postList">
				<div ng-repeat="post in postList | filter: {removed : false} | orderBy : orderByString" class="col-md-2 m-4">
					<div th:include="components/post :: viewPosts('thumbnail')" th:remove="tag"></div>
				</div>
			</div>
		</div>

		<h3 class="row m-3">latest 10 post</h3>
		<div ng-controller="latestPostController" class="row m-3">
			<div class="row">
				<div ng-repeat="post in postList | filter: {removed : false}" class="col-md-2 m-4">
					<div th:include="components/post :: viewPosts('thumbnail')" th:remove="tag"></div>
				</div>
			</div>

		</div>

	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>