<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.bootstrap.min.css"></link>
<script src="/js/ng-flow-standalone.min.js"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'flow', 'ngTagsInput' ]);

		main.controller('settingController', function($scope, $http, $window, messageService) {
			$scope.shared = messageService.getShared();
			$scope.obj = {};
			$scope.checkedUniqueName = false;
			$scope.keyHashTag = [];
			
			$http({
				url : "/user/getUser/[[${targetUser?.userId}]]",
				method : "GET",
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function(response) {
				if (response.data.status == 'success') {
					if (response.data.user.profileImages[0]) {
						$scope.profileImage = response.data.user.profileImages[0].filename;
					}

					$scope.uniqueName = response.data.user.uniqueName;
					$scope.checkName = response.data.user.uniqueName;
					$scope.displayName = response.data.user.displayName;
					$scope.profileMessage = response.data.user.message;
					if(response.data.user.hashtags){
						$scope.keyHashTag = response.data.user.hashtags.map(function(hashTag){return {text:hashTag.hashTag}});
					}
					$scope.likeCoinId = response.data.user.likeCoinId;
					$scope.fbId = response.data.user.fbId;
					
				} else {
					$scope.message("Load User Failed");
				}
			});

			$scope.checkUniqueName = function(checkOn) {
				if ($scope.uniqueName != $scope.checkName) {
					if (/^[a-zA-Z0-9_]+$/.test($scope.uniqueName)) {
						$http({
							url : "/user/checkUniqueName/",
							method : "POST",
							headers : {
								'Content-Type' : 'application/json'
							},
							data : {
								uniqueName : $scope.uniqueName
							}
						}).then(function(response) {
							if (response.data.status == 'success') {
								$scope.checkedUniqueName = true;
								$scope.uniqueNameMessage = "OK";

								if (checkOn == 'submit') {
									$scope.submit();
								}
							} else {
								$scope.uniqueNameMessage = "someone using this name already";
							}
						});
					} else {
						$scope.uniqueNameMessage = "Unique ID only avaiable on english and number with underscroll (A to Z, 0 to 9 and _)"
					}

				} else {
					$scope.checkedUniqueName = true;

					if (checkOn == 'submit') {
						$scope.submit();
					}
				}

			}

			$scope.submit = function() {

				if (!$scope.checkedUniqueName) {
					$scope.checkUniqueName('submit');
				} else {
					var image;

					angular.forEach($scope.obj.flow.files, function(value, key) {
						var msg = JSON.parse(value.msg);
						if (msg.status === 'success') {
							image = msg.filePath;
						}
					});

					$http({
						url : "/user/updateSetting/",
						method : "POST",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							password : $scope.password,
							uniqueName : $scope.uniqueName,
							displayName : $scope.displayName,
							message : $scope.profileMessage,
							keyHashTag : $scope.keyHashTag,
							likeCoinId : $scope.likeCoinId,
							fbId : $scope.fbId,
							image : image
						}
					}).then(function(response) {
						if (response.data.status == 'success') {
							$scope.password = null;
							$scope.message(response.data.remarks);
							
							$timeout(function() {
								$window.location.href = '/setting';
							}, 1000);

						} else {
							$scope.message(response.data.remarks);
						}
						$scope.checkedUniqueName = false;
					});
				}
			}

			$scope.loadTags = function(query) {
				return $http.get('/event/getRelatedTag/' + query);
			};

			$scope.message = function(message) {
				messageService.setMessage(message);
			};
			
			$scope.addTitle = function(title) {
				var newTitle = {
					'text' : title
				};
				const found = $scope.keyHashTag.some(el => el.text === title);
				if(!found){
					$scope.keyHashTag.push(newTitle);	
				}
			};
			

		});
	</script>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="settingController">
		<form ng-submit="submit()">
			<h3>Settings</h3>
			<div class="row">
				<div class="col-md-4 form-inline p-2">
					<input type="password" ng-model="password" name="password" placeholder="Password" class="form-control" /> <input type="submit" id="update" value="update" class="btn btn-primary form-control" />
				</div>
			</div>
			<div class="row">

				<table class="table">
					<tr>
						<td class="span3">Profile Image :</td>
						<td>
							<div flow-init="{target: '/user/uploadProfileImage', testChunks:false, singleFile:true, chunkSize : 10000000}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()];validate($file)" flow-name="obj.flow">

								<div class="span2">
									<div class="thumbnail" ng-show="!$flow.files.length">
										<img ng-src="{{profileImage ? '/image/' + profileImage : 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image'}}" style="height: 150px" flow-btn /> <span style="color: #CFCFCF">(Optional)</span>
									</div>
									<div class="thumbnail" ng-show="$flow.files.length">
										<img flow-img="$flow.files[0]" style="height: 150px" flow-btn />
									</div>
									<div ng-repeat="file in $flow.files">
										<div class="progress" style="width: auto" ng-class="{'progress-success':file.isComplete() ,'progress-bar-info': file.isUploading()}">
											<div class="bar" style="width: {{file.progress()* 100}}%">
												<span>{{(file.progress() * 100).toFixed(0)}}%</span>
											</div>
										</div>
									</div>
									<button type="button" class="btn btn-info " flow-btn>select image</button>
								</div>

							</div>
						</td>
					</tr>
					<tr>
						<td>Assign Unique ID :</td>
						<td><div class="form-inline">
								<input type="hidden" ng-mode="checkName" /> @<input type="text" ng-model="uniqueName" name="uniqueName" placeholder="(Optional)" class="form-control" /> <br /> &nbsp;
								<button type="button" ng-click="checkUniqueName('inline')" class="btn btn-info btn-sm form-control">Check</button>

							</div> <small id="emailHelp" class="form-text text-muted warning" ng-show="uniqueNameMessage">{{uniqueNameMessage}}</small></td>
					</tr>
					<tr>
						<td>Display Name :</td>
						<td><div class="form-inline">
								<input type="text" ng-model="displayName" name="displayName" placeholder="(Optional)" class="form-control" />
							</div></td>
					</tr>
					<tr>
						<td>User Tag</td>
						<td><a href="#" class="badge" ng-click="addTitle('攝影師')">攝影師</a><a href="#" class="badge" ng-click="addTitle('Coser')">Coser</a><a href="#" class="badge" ng-click="addTitle('CD-ROM')">CD-ROM</a>
							<div class="form-inline">
								<tags-input ng-model="keyHashTag" add-on-paste="true" track-by-expr="$index" style="width:500px"> <auto-complete source="loadTags($query)"></auto-complete> </tags-input>
							</div></td>
					</tr>					
					<tr>
						<td>Like Coin Id</td>
						<td>
							<div class="form-inline">
								<input type="text" ng-model="likeCoinId" name="likeCoinId" placeholder="(Optional)" class="form-control" />
							</div></td>
					</tr>
					<tr>
						<td>Facebook Id</td>
						<td>
							<div class="form-inline">
								<input type="text" ng-model="fbId" name="fbId" placeholder="(Optional)" class="form-control" />
							</div></td>
					</tr>
					<tr>
						<td>Profile Message :</td>
						<td><div>
								<textarea ng-model="profileMessage" name="message" rows="10" class="form-control" style="min-width: 100%" placeholder="(Optional)"></textarea>
							</div></td>
					</tr>
				</table>
			</div>
		</form>
	</div>

	<div th:include="components/footer :: footerBody" th:remove="tag"></div>
	
</body>
</html>