<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>


<link href='/js/core/main.css' rel='stylesheet' />
<link href='/js/daygrid/main.css' rel='stylesheet' />

<script src='/js/core/main.js'></script>
<script src='/js/daygrid/main.js'></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');



		var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins : [ 'dayGrid' ],
				events: '/event/getEvents/'
			});
		
		calendar.render();
	});
</script>
</head>
<body>

	<div id='calendar'></div>

</body>
</html>