
<!doctype html>
<html lang="en">
<head>



<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'infinite-scroll', 'ngSanitize' ]);

		main.controller('searchController', function($scope, $http, messageService, postService) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();
			
			$scope.keyword = '[[${hashTag}]]';
			$scope.orderByType = '[[${orderByType}]]';

			$scope.search = function() {
				if ($scope.keyword) {
					postService.searchPosts($scope.keyword, $scope.orderByType, handler);
				}
			}

			postService.setMessageService(messageService);

			$scope.likePost = function(post) {
				postService.likePost(post, 'viewPost');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'viewPost');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'viewPost');
			}
			$scope.searchPost = function(keyword, handler) {
				postService.searchPost(keyword, $scope.orderByType, handler);
			}

			var handler = function(postList) {
				$scope.postList = postList;
			}

			$scope.$watch('sharedUser.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost(handler);
				}
			});

			$scope.search();
		});
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="searchController">

		<div class="form-inline row m-1">
			<h3>tag</h3>
			&nbsp;
			<form ng-submit="search()">
				<div class="btn-group btn-group-sm  btn-light form-inline" role="group" aria-label="Basic example">
					<button type="button" class="btn" ng-class="{'btn-warning' : orderByType == 'view'}" ng-click="orderByType = 'view'">view</button>
					<button type="button" class="btn " ng-class="{'btn-warning' : orderByType == 'date'}" ng-click="orderByType = 'date'">date</button>
				</div>
				<input class="form-control mr-sm-2" type="text" ng-model="keyword" />
				<button class="form-control mr-sm-2" type="submit">Search</button>
			</form>
		</div>
		<hr class="row" />
		<div ng-show="postList" class="row">
			<div ng-repeat="post in postList | filter: {removed : false}" class="col-md-3">
				<div th:include="components/post :: viewPosts('thumbnail-mid')" th:remove="tag"></div>
			</div>
		</div>
	</div>


	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>

</body>
</html>