
<!doctype html>
<html lang="en">
<head>



<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'infinite-scroll','ngSanitize' ]);

		main.controller('searchController', function($scope, $http, messageService , postService) {

			$scope.shared = messageService.getShared();
			
			$scope.keyword = '[[${hashTag}]]';
			
			$scope.search = function() {
				if ($scope.keyword) {
					postService.searchPosts($scope.keyword, handler);
				}
			}
			
			postService.setMessageService(messageService);

			$scope.likePost = function(postId) {
				postService.likePost(postId);
			}
			$scope.retweetPost = function(postId) {
				postService.retweetPost(postId);
			}
			$scope.removePost = function(postId) {
				postService.removePost(postId);
			}
			$scope.searchPost = function(keyword, handler) {
				postService.searchPost(keyword, handler);
			}

			var handler = function(postList) {
				$scope.postList = postList;
			}


			$scope.$watch('shared.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost(handler);
				}
			});

			$scope.search();
		});

	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container">
		<div ng-controller="searchController" class="row m-5">

			<div class="form-inline">
				<h3>Tag</h3>
				&nbsp;
				<form ng-submit="search()">
					<input class="form-control mr-sm-2" type="text" ng-model="keyword" />
					<button class="form-control mr-sm-2" type="submit">Search</button>
				</form>
			</div>
			<div ng-show="postList" class="row">
				<div ng-repeat="post in postList | filter: {removed : false}" class="col-md-3  m-5">
					<div th:include="components/post :: viewPosts('thumbnail')" th:remove="tag"></div>
				</div>
			</div>
		</div>


	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>

</body>
</html>