<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script>
	var main = angular.module('application', [ 'ngSanitize' ]);

	main.controller('viewPostController', function($scope, $window, $sce, postService, messageService) {
		$scope.shared = messageService.getShared();
		$scope.sharedUser = messageService.getSharedUser();

		postService.setMessageService(messageService);

		$scope.likePost = function(post) {
			postService.likePost(post, 'viewPost');
		}
		$scope.retweetPost = function(post) {
			postService.retweetPost(post, 'viewPost');
		}
		$scope.removePost = function(post) {
			postService.removePost(post, 'viewPost').then(function(response) {
				$window.location.href = '/@';
			});
		}
		$scope.loadPost = function(handler) {
			postService.loadPosts("getPost/[[${postId}]]", handler);
		}

		var handler = function(postList) {
			$scope.postList = postList;
		}

		$scope.loadPost(handler);

		$scope.$watch('sharedUser.user', function(newValue, oldValue) {
			if (newValue != oldValue) {
				$scope.loadPost(handler);
			}
		});

		$scope.likeCoinURL = "";

		$scope.getLikeCoinURL = function(post) {
			$scope.likeCoinURL = $sce.trustAsResourceUrl("https://button.like.co/in/embed/" + post.user.likeCoinId + "/button/?referrer=[[${DOMAIN}]]/@" + post.postKey);
		}

	});
</script>
</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container">
		<div ng-controller="viewPostController" class="row">
			<div ng-repeat="post in postList | filter: {removed : false} ">

				<hr />
				<div th:include="components/post :: viewPosts('detail')" th:remove="tag"></div>


			</div>

		</div>
	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>