
<!doctype html>
<html lang="en">
<head>



<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'ngSanitize' ]);

		main.controller('eventController', function($scope, $http, messageService, postService) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			postService.setMessageService(messageService);

			$scope.likePost = function(post) {
				postService.likePost(post, 'viewPost');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'viewPost');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'viewPost');
			}
			$scope.loadPost = function(handler) {
				postService.loadPosts("getUserPosts/[[${targetUser?.userId}]]", handler);
			}

			$scope.eventName = '[[${eventName}]]';
			$http({
				url : "/event/getEventDetail",
				method : "POST",
				headers : {
					'Content-Type' : 'application/json'
				},
				data : {
					eventName : $scope.eventName
				}
			}).then(function(response) {
				console.log(response.data);
				if (response.data.status === 'success') {
					$scope.events = response.data.events
				}
			});

		});
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="eventController">

		<div class="form-inline row m-1">
			<h3>event</h3>
		</div>
		<hr class="row" />

		<section class="row" ng-repeat="event in events">

			<div th:include="components/event :: event" th:remove="tag"></div>
			<hr class="col-md-12" />
			<div class="row">
				<div ng-repeat="post in event.postList | filter: {removed : false}" class="col-md-3">
					<div th:include="components/post :: viewPosts('thumbnail-mid')" th:remove="tag"></div>
				</div>
			</div>
		</section>
	</div>

	<hr>


	<footer>
		<p>&copy; Company 2013</p>
	</footer>

</body>
</html>