<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>


<script th:include="components/header :: headerLibrary" th:remove="tag"></script>


</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', []);
		main.controller('viewPostController', function($scope, $http) {
			$scope.loadPosts = function() {
				$http({
					url : "/post/getUserPosts/[[${user.userId}]]",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					$scope.postList = data.postList;
					$scope.status = status;

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadPosts();

		});

		main.controller('viewUserController', function($scope, $http) {
			$scope.loadUser = function() {
				$http({
					url : "/user/getUser/[[${user.userId}]]",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					$scope.user = data.user;
					$scope.status = status;

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadUser();

			$scope.addFriend = function(userId) {
				$http({
					url : "/user/addFriend/" + userId,
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
		});
	</script>
	<div th:include="components/post :: viewPostsScript" th:remove="tag"></div>
	
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div ng-controller="viewUserController">
		{{user}}
		<button type="button"
			th:attr="ng-click='addFriend('+${targetUser.userId}+');',ng-show='' + ${user.userId != targetUser.userId} + ''">Add
			Friend</button>
	</div>
		<div th:include="components/post :: viewPosts" th:remove="tag"></div>

	</div>
</body>
</html>