<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', []);
		main.controller('viewPostController', function($scope, $http) {
			$scope.likePost = function(postId) {
				$http({
					url : "/post/likePost",
					method : "POST",
					headers : {
						'Content-Type' : 'application/json'
					},
					data : {
						postId : postId
					}
				}).success(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}

			$scope.retweetPost = function(postId) {
				$http({
					url : "/post/retweetPost",
					method : "POST",
					headers : {
						'Content-Type' : 'application/json'
					},
					data : {
						postId : postId
					}
				}).success(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadPosts = function() {
				$http({
					url : "/post/getUserPosts/[[${targetUser?.userId}]]",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					$scope.postList = data.postList;
					$scope.status = status;

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadPosts();

		});

		main.controller('viewUserController', function($scope, $http) {
			$scope.loadUser = function() {
				$http({
					url : "/user/getUser/[[${targetUser?.userId}]]",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					$scope.user = data.user;
					$scope.status = status;

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadUser();

			$scope.follow = function(userId) {
				$http({
					url : "/user/follow/" + userId,
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
		});
	</script>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="viewUserController">
		<div class="hero-unit">
			{{user.email}} {{user.uniqueName}} {{user.message}}

			<button type="button"
				th:attr="ng-click='follow('+${targetUser?.userId}+');',ng-show='' + ${user != null && user.userId != targetUser.userId} + ''">Follow</button>
		</div>
		<div ng-controller="viewPostController" class="row offset1">
			<div th:include="components/post :: viewPosts" th:remove="tag"></div>
		</div>
	</div>


	</div>
</body>
</html>