<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script>
	var main = angular.module('application', []);

	main.controller('viewPostController', function($scope, postService, messageService) {
		var handleResponse = function(response, type) {
			if (response.data.status == 'success') {
				$scope.message(type + " success");
			} else {
				$scope.message(type + " failed : " + response.data.remarks);
			}
		}

		$scope.likePost = function(postId) {
			postService.likePost(postId).then(function(response) {
				//handleResponse(response, 'like');
			});
		}

		$scope.retweetPost = function(postId) {
			postService.retweetPost(postId).then(function(response) {
				handleResponse(response, 'retweet');
			});
		}

		postService.loadPosts("getPost/[[${postId}]]").then(function(response) {
			$scope.postList = response.data.postList;
		});

		$scope.message = function(message) {
			messageService.setMessage(message);
		}
	});
</script>
</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>
	<div class="container">
		<div class="hero-unit">View Post</div>
		<div ng-controller="viewPostController" class="row offset1">
			<div th:include="components/post :: viewPosts" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>