<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script>
	var main = angular.module('application', [ 'infinite-scroll' ]);

	main.controller('viewPostController', function($scope, $http, $window, postService, messageService) {
		$scope.shared = messageService.getShared();
		$scope.currentPage = 0;

		var handleResponse = function(response, type) {
			if (response.data.status == 'success') {
				$scope.message(type + " success");
			} else {
				$scope.message(type + " failed : " + response.data.remarks);
			}
		}

		$scope.likePost = function(postId) {
			postService.likePost(postId).then(function(response) {
				//handleResponse(response, 'like');
			});
		}

		$scope.retweetPost = function(postId) {
			postService.retweetPost(postId).then(function(response) {
				handleResponse(response, 'retweet');
			});
		}

		$scope.removePost = function(postId) {
			if (confirm("Remove this post?")) {
				postService.removePost(postId).then(function(response) {
					handleResponse(response, 'remove');
				});
			}
		}
		
		$scope.loadPost = function(page) {
			postService.loadPosts("getTimelinePosts/" + page).then(function(response) {
				if (response.data.postList.length > 0) {
					$scope.postList = response.data.postList;

					for (var i = 0; i < $scope.postList.length; i++) {
						$scope.release.push($scope.postList[i]);

					}
				} else {
					$scope.postList = {};
				}
			});
		};

		$scope.release = [];
		$scope.postList = [];

		$scope.message = function(message) {
			messageService.setMessage(message);
		}

		$scope.$watch('shared.user', function(newValue, oldValue) {
			if (newValue != oldValue) {
				if (!newValue) {
					$window.location.href = '/';
				}
				$scope.currentPage = 0;
				$scope.loadMore();
			}
		});

		$scope.loadMore = function() {
			$scope.loadPost($scope.currentPage++);
		};
		$scope.loadMore();
	});
</script>


</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container">
		<h3>Timeline</h3>

		<div ng-controller="viewPostController" class="row">
			<div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
				<div ng-repeat="post in release" class="card col-md-9 m-1">
					<div th:include="components/post :: viewPosts('thumbnail-mid')"
						th:remove="tag"></div>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>