<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script>
	var main = angular.module('application', [ 'infinite-scroll', 'ngSanitize' ]);

	main.controller('viewPostController', function($scope, $http, $window, postService, messageService) {
		postService.setMessageService(messageService);
		$scope.currentPage = 0;
		$scope.shared = messageService.getShared();
		$scope.release = [];
		$scope.postList = [];

		$scope.likePost = function(postId) {
			postService.likePost(postId);
		}
		$scope.retweetPost = function(postId) {
			postService.retweetPost(postId);
		}
		$scope.removePost = function(postId) {
			postService.removePost(postId);
		}
		$scope.loadPost = function(page, handler) {
			postService.loadPosts("getTimelinePosts/" + page, handler);
		}

		$scope.handler = function(postList) {
			if (postList.length > 0) {
				$scope.postList = postList;

				for (var i = 0; i < $scope.postList.length; i++) {
					$scope.release.push($scope.postList[i]);

				}
			} else {
				$scope.postList = [];
			}
		}

		$scope.$watch('shared.user', function(newValue, oldValue) {
			if (newValue != oldValue) {
				if (!newValue) {
					$window.location.href = '/';
				}
				$scope.currentPage = 0;
				$scope.loadMore();
			}
		});

		$scope.loadMore = function() {
			$scope.loadPost($scope.currentPage++, $scope.handler);
		};

		$scope.loadMore();
	});
</script>


</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container">
		<h3>Timeline</h3>

		<div ng-controller="viewPostController" class="row">
			<div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
				<div ng-repeat="post in release" class="m-1">
					<hr />
					<div th:include="components/post :: viewPosts('thumbnail-mid')" th:remove="tag"></div>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>