<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', []);

		main.controller('settingController', function($scope, $http) {
			$scope.uniqueUserNameFlag = false;

			$scope.loadUser = function() {
				$http({
					url : "/user/getUser/[[${targetUser?.userId}]]",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					}
				}).success(function(data, status, headers, config) {
					$scope.user = data.user;
					$scope.status = status;
					$scope.checkName = data.user.uniqueName;

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}
			$scope.loadUser();

			$scope.checkUniqueName = function() {
				$http({
					url : "/user/checkUniqueName/",
					method : "GET",
					headers : {
						'Content-Type' : 'application/json'
					},
					data : {
						uniqueName : $scope.profile.uniqueName
					}
				}).success(function(data, status, headers, config) {
					if (data.status == 'success') {
						$scope.uniqueUserNameFlag = true;
						$scope.uniqueNameMessage = "OK";
					} else {
						$scope.uniqueUserNameFlag = false;
						$scope.uniqueNameMessage = "someone using this name already";
					}

				}).error(function(data, status, headers, config) {
					alert(data.status + '\n' + data.remarks);
				});

			}

			$scope.updateSetting = function(userId) {
				if ($scope.checkName != $scope.profile.uniqueName && $scope.uniqueUserNameFlag) {

					$http({
						url : "/user/updateSetting/" + userId,
						method : "GET",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							password : $scope.profile.password,
							uniqueName : $scope.profile.uniqueName,
							message : $scope.profile.message
						}
					}).success(function(data, status, headers, config) {
						alert(data.status + '\n' + data.remarks);

					}).error(function(data, status, headers, config) {
						alert(data.status + '\n' + data.remarks);
					});
				} else {
					$scope.uniqueUserNameMessage = "please verify"
				}

			}
		});
	</script>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="settingController">
		<div class="hero-unit">Settings</div>
		<div ng-controller="viewPostController" class="row offset1">

			<form ng-submit="updateSetting" name="profileUpdateForm">
				<div class="modal-body">
					<table>

						<tr>
							<td>Password :</td>
							<td><input type="password" ng-model="profile.password" name="password" /></td>
						</tr>
						<tr>
							<td>Assign Unique Name :</td>
							<td><input type="hidden" ng-model="checkName" /><input type="text" ng-model="profile.uniqueName" name="uniqueName" /><label ng-model="uniqueNameMessage"></label>
								<button type="button" ng-click="checkUniqueName()">Check</button></td>
						</tr>
						<tr>
							<td>Profile Message :</td>
							<td><textarea ng-model="profile.message" name="message"></textarea></td>
						</tr>

					</table>


				</div>
				<div class="modal-footer">
					<input type="submit" id="update" value="update" class="btn btn-primary" />
				</div>
			</form>

		</div>
	</div>


	</div>
</body>
</html>