<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script>
	var main = angular.module('application', []);

	main.controller('viewPostController', function($scope, postService, messageService) {
		$scope.shared = messageService.getShared();

		var handleResponse = function(response, type) {
			if (response.data.status == 'success') {
				$scope.message(type + " success");
			} else {
				$scope.message(type + " failed : " + response.data.remarks);
			}
		}

		$scope.likePost = function(postId) {
			postService.likePost(postId).then(function(response) {
				//handleResponse(response, 'like');
			});
		}

		$scope.retweetPost = function(postId) {
			postService.retweetPost(postId).then(function(response) {
				handleResponse(response, 'retweet');
			});
		}

		postService.loadPosts("getPost/[[${postId}]]").then(function(response) {
			$scope.postList = response.data.postList;
		});

		$scope.message = function(message) {
			messageService.setMessage(message);
		}
	});
</script>
</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>
	
	<div class="container">
		<div ng-controller="viewPostController" class="row">
			<div ng-repeat="post in postList" class="card col-xl">
				<div th:include="components/post :: viewPosts('detail')" th:remove="tag"></div>
			</div>
		</div>
	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>