<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<link href='/js/core/main.css' rel='stylesheet' />
<link href='/js/daygrid/main.css' rel='stylesheet' />

<script src='/js/core/main.js'></script>
<script src='/js/daygrid/main.js'></script>
<script src='/js/moment/main.js'></script>
<script src='/js/moment-timezone/main.js'></script>
<script src='/js/interaction/main.js'></script>
<script src='/js/bootstrap/main.js'></script>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript">
	var user = /*[[${user}]]*/{};

	document.addEventListener('DOMContentLoaded', function() {
		$('#dialogCalendar').hide();
		var calendarEl = document.getElementById('calendar');

		var calendar = new FullCalendar.Calendar(calendarEl, {
			plugins : [ 'dayGrid', 'interaction', 'bootstrap' ],
			themeSystem : 'bootstrap',
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'dayGridMonth'
			},
			fixedWeekCount : false,
			themeSystem : 'spacelab',
			eventClick : function(info) {
				info.jsEvent.preventDefault();

				console.log(info.event);
				var content = "<br/><span class='badge'>" + info.event.title + "</span>";
				content += "<br/> <a href ='" + info.event.url + "' classs='btn btn-info'>" + info.event.url + "</a>";
				if (info.event.extendedProps.description) {
					content += "<br/> " + info.event.extendedProps.description + "";
				}
				if (info.event.extendedProps.image) {
					content += "<img src='" + info.event.extendedProps.image + "' class='img-fluid m-1 rounded'/>";
				}

				$("#detail .message").html(content);

				$(".ui-dialog-titlebar").hide();
			},
			selectable : true,
			select : function(info) {
				if (user != null) {
					info.jsEvent.preventDefault();

					var endDate = new Date(info.end.setDate(info.end.getDate() - 1));
					var endDateString = endDate.getFullYear() + "-" + (endDate.getMonth() + 1) + "-" + endDate.getDate();

					$("#dialogCalendar .message").html("<a href ='w/" + info.startStr + "' class='btn'> Write Post </a><br/><a href='/writeEvent/"+ info.startStr + "&" + endDateString + "' class='btn'>Regist Event</a>");
					$('#dialogCalendar').dialog({
						position : {
							my : "center",
							at : "left+" + info.jsEvent.clientX + "px top+" + (info.jsEvent.clientY + 60) + "px ",
							of : window
						},
					});
					$(".ui-dialog-titlebar").hide();
				}

			},

			events : '/event/getEvents/'
		});

		calendar.render();
	});

	var main = angular.module('application', []);

	main.controller('calendarController', function($scope, $http) {

	});
</script>
</head>
<body ng-app="application">
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="calendarController">
		<h3 class="row m-3">calendar</h3>
		<div class="row">
			<div id='calendar' class="col-md-10"></div>
			<div id='detail' class="col-md-2">
				<p class="message"></p>
			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div id="dialogCalendar">

		<!-- Modal content -->
		<div>
			<p class="message"></p>
			<button onclick="$(this).closest('.ui-dialog-content').dialog('close');" class="close">X</button>
		</div>

	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>