<!doctype html>
<html lang="en">
<head>

<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>

<script>
	var main = angular.module('application', [ 'infinite-scroll', 'ngSanitize' ]);

	main.controller('viewPostController', function($scope, $http, $window, $sce, postService, messageService) {
		$scope.shared = messageService.getShared();
		$scope.sharedUser = messageService.getSharedUser();

		postService.setMessageService(messageService);

		$scope.currentPage = 0;
		$scope.shared = messageService.getShared();
		$scope.release = [];
		$scope.postList = [];

		$scope.likePost = function(post) {
			postService.likePost(post, 'viewPost');
		}
		$scope.retweetPost = function(post) {
			postService.retweetPost(post, 'viewPost');
		}
		$scope.removePost = function(post) {
			postService.removePost(post, 'viewPost');
		}
		$scope.loadPost = function(page, handler) {
			postService.loadPosts("getTimelinePosts/" + page, handler);
		}

		$scope.handler = function(postList) {
			if (postList.length > 0) {
				$scope.postList = postList;

				for (var i = 0; i < $scope.postList.length; i++) {
					$scope.release.push($scope.postList[i]);

				}
			} else {
				$scope.postList = [];
			}
		}

		$scope.$watch('sharedUser.user', function(newValue, oldValue) {
			if (newValue != oldValue) {
				if (!newValue) {
					$window.location.href = '/';
				}
				$scope.currentPage = 0;
				$scope.loadMore();
			}
		});

		$scope.loadMore = function() {
			$scope.loadPost($scope.currentPage++, $scope.handler);
		};

		$scope.loadMore();
		
		$scope.likeCoinURL = "";

		$scope.getLikeCoinURL = function(post) {
			$scope.likeCoinURL = $sce.trustAsResourceUrl("https://button.like.co/in/embed/" + post.user.likeCoinId + "/button/?referrer=[[${DOMAIN}]]/@" + post.postKey);
		}
	});
</script>


</head>
<body ng-app="application">

	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>
	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="viewPostController">
		<h3 class="row m-3">timeline</h3>
		<div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
			<div ng-repeat="post in release | filter: {removed : false}" class="col-md-7">
				<hr />
				<div th:include="components/post :: viewPosts('thumbnail-mid')" th:remove="tag"></div>
			</div>
		</div>
	</div>
	<hr>

	<footer>
		<p>&copy; Company 2013</p>
	</footer>
</body>
</html>