
<!doctype html>
<html lang="en">
<head>



<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'ngSanitize' ]);

		main.controller('searchController', function($scope, $http, messageService, postService) {
			$scope.shared = messageService.getShared();
			$scope.sharedUser = messageService.getSharedUser();

			$scope.keyword = '[[${hashTag}]]';
			$scope.orderByType = '[[${orderByType}]]';
			$scope.viewBy = 'all';

			$scope.search = function() {
				if ($scope.keyword) {
					postService.searchPosts($scope.keyword, $scope.orderByType, handler);
				}
			}

			postService.setMessageService(messageService);

			$scope.likePost = function(post) {
				postService.likePost(post, 'viewPost');
			}
			$scope.retweetPost = function(post) {
				postService.retweetPost(post, 'viewPost');
			}
			$scope.removePost = function(post) {
				postService.removePost(post, 'viewPost');
			}
			$scope.searchPost = function(keyword, handler) {
				postService.searchPost(keyword, $scope.orderByType, handler);
			}

			var handler = function(data) {
				$scope.postList = data.postList;
				$scope.eventList = data.eventList;
				$scope.userList = data.userList;

			}

			$scope.$watch('sharedUser.user', function(newValue, oldValue) {
				if (newValue != oldValue) {
					$scope.loadPost(handler);
				}
			});

			$scope.search();

			$scope.viewByCheck = function(type) {
				if ($scope.viewBy == type || $scope.viewBy == 'all') {
					return true;
				} else {
					return false;
				}

			}
		});
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="searchController">

		<div class="form-inline row m-1">
			<h3>tag</h3>
			&nbsp;
			<form ng-submit="search()">
				<div class="btn-group btn-group-sm  btn-light form-inline" role="group" aria-label="Basic example">
					<button type="button" class="btn" ng-class="{'btn-warning' : orderByType == 'view'}" ng-click="orderByType = 'view'">view</button>
					<button type="button" class="btn " ng-class="{'btn-warning' : orderByType == 'date'}" ng-click="orderByType = 'date'">date</button>
				</div>
				<input class="form-control mr-sm-2" type="text" ng-model="keyword" />
				<button class="form-control mr-sm-2" type="submit">Search</button>
				<div class="btn-group btn-group-sm  btn-light form-inline" role="group" aria-label="Basic example">
					<button type="button" class="btn" ng-class="{'btn-warning' : viewBy == 'all'}" ng-click="viewBy = 'all'">all</button>
					<button type="button" class="btn " ng-class="{'btn-warning' : viewBy == 'post'}" ng-click="viewBy = 'post'">post</button>
					<button type="button" class="btn " ng-class="{'btn-warning' : viewBy == 'event'}" ng-click="viewBy = 'event'">event</button>
					<button type="button" class="btn " ng-class="{'btn-warning' : viewBy == 'user'}" ng-click="viewBy = 'user'">user</button>

				</div>
			</form>
		</div>
		<hr class="row" />
		<div class="row">
			<div ng-show="viewByCheck('post')" ng-repeat="post in postList | filter: {removed : false}" class="col-md-3 m-3">
				<div th:include="components/post :: viewPosts('thumbnail')" th:remove="tag"></div>
			</div>
			<div ng-show="viewByCheck('event')" ng-repeat="event in eventList" class="col-md-3 m-1">
				<div th:include="components/event :: event" th:remove="tag"></div>
			</div>
			<div ng-show="viewByCheck('user')" ng-repeat="user in userList" class="col-md-3 m-3">
				<a href="/@{{user.uniqueName ? user.uniqueName : user.userId}}" style="font-size: 14px"><div th:include="components/user :: user" th:remove="tag"></div></a>
			</div>
		</div>
	</div>

	<div th:include="components/footer :: footerBody" th:remove="tag"></div>
	
</body>
</html>