
<!doctype html>
<html lang="en">
<head>


<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.bootstrap.min.css"></link>

<script src="/js/ng-flow-standalone.min.js"></script>
<script src="/js/angular-sortable-view.min.js"></script>
</head>
<body ng-app="application">
	<script>
		var main = angular.module('application', [ 'flow', 'angular-sortable-view', 'ngTagsInput' ]);

		main.controller('addEventController', function($scope, $http, $window, $timeout, messageService) {

			$scope.obj = {};
			$scope.uploading = false;

			var startDateString = '[[${startDate}]]';
			var endDateString = '[[${endDate}]]';

			if (startDateString === '') {
				$scope.startDate = new Date();
			} else {
				$scope.startDate = new Date(startDateString);
			}

			if (endDateString === '') {
				$scope.endDate = new Date();
			} else {
				$scope.endDate = new Date(endDateString);
			}

			$scope.validate = function(file) {
				if (file.size > 5000000) {
					$scope.message("file is too big");
					return false;
				}
				return true;
			}
			$scope.uploading = function() {
				$scope.uploading = true;
				$scope.message("Uploading");
				return true;
			}
			$scope.uploaded = function() {
				$scope.uploading = false;
				$scope.message("");
				return true;
			}

			$scope.loadTags = function(query) {
				return $http.get('/event/getRelatedTag/' + query);
			};
			$scope.formSubmitted = false;
			
			$scope.submit = function() {
				if ($scope.eventName && $scope.message) {

					$scope.formSubmitted = true;
					
					var fileList = [];

					angular.forEach($scope.obj.flow.files, function(value, key) {
						var msg = JSON.parse(value.msg);
						if (msg.status === 'success') {
							fileList.push(msg.filePath);
						}
					});

					$http({
						url : "/event/addEvent",
						method : "POST",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							'eventName' : $scope.eventName,
							'keyHashTag' : $scope.keyHashTag,
							'description' : $scope.description,
							'url' : $scope.url,
							'startDate' : $scope.startDate,
							'endDate' : $scope.endDate,
							'fileList' : fileList
						}
					}).then(function(response) {
						if (response.data.status === 'success') {
							$scope.message("successful added the event, may take some time for approval");
							
							$timeout(function() {
								$window.location.href = '/c/';
							}, 1000);
						} else {
							$scope.message(response.data.remarks);
							$scope.formSubmitted  = false;
						}

					},function(response){
						$scope.message("ERROR : " + response.data.error);
					});
				}
			}

			$scope.message = function(message) {
				messageService.setMessage(message);
			}
		})
	</script>
	<div th:include="components/post :: viewPostScript" th:remove="tag"></div>

	<div th:include="components/header :: headerScript" th:remove="tag"></div>
	<div th:include="components/header :: headerBody" th:remove="tag"></div>

	<div class="container" ng-controller="addEventController">

		<div class="form-inline row m-1">
			<h3>event</h3>

		</div>
		<hr class="row" />
		<div class="row">
			<form method="post" ng-submit="submit()" class="form-group">
				<div class="row m-2">
					Event Name <input type="text" name="name" ng-model="eventName" placeholder="(Name)" class="form-control mr-sm-2" />
				</div>
				<div class="row m-2">
					Key Hash Tag
					<div class="col-12 m-0 p-0" style="height: 100px">
						<tags-input ng-model="keyHashTag" add-on-paste="true" class="m-0 p-0"> <auto-complete source="loadTags($query)"></auto-complete> </tags-input>
					</div>
				</div>
				<div class="row m-2">
					Description
					<textarea name="description" ng-model="description" placeholder="(Description)" class="form-control mr-sm-2" rows="10"></textarea>
				</div>
				<div class="row m-2">
					URL <input type="text" name="url" ng-model="url" placeholder="(URL)" class="form-control mr-sm-2" />
				</div>
				<div class="row m-2">
					Country <select ng-model="country" class="form-control mr-sm-2">
						<option value="hkg" selected="selected">Hong Kong</option>
						<option value="szn">China - SZ</option>
						<option value="gzu">China - GZ</option>
						<option value="sha">China - Shanghai</option>
						<option value="twn">Taiwan</option>
						<option value="jpn">Japan</option>
						<option value="other">Other</option>
					</select>
				</div>
				<br />
				<div class="row m-2 form-inline">
					Start Date <input type="date" name="startDate" ng-model="startDate" class="form-control mr-sm-2" /> End Date <input type="date" name="endDate" ng-model="endDate" class="form-control mr-sm-2" />
				</div>


				<div class="form-group">
					<h4>Images</h4>
					<div flow-init="{target: '/event/uploadImage', testChunks:false,  chunkSize:10000000}" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()];validate($file);uploading();" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message;uploaded();" flow-name="obj.flow">
						<div flow-drop flow-btn flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style" class="btn btn-danger">Click or Drop image here</div>
						<div class="mt-2"></div>
						<div sv-root sv-part="$flow.files" class="row">
							<div ng-repeat="file in $flow.files" sv-element="opts" class="card col-md-3">
								<div class="btn" sv-handle>{{$index+1}}</div>

								<img flow-img="file" class="img-fluid rounded" />
								<div class="progress" style="width: auto" ng-class="{'progress-success':file.isComplete() ,'progress-bar-info': file.isUploading()}">
									<div style="width: {{file.progress()* 100" class="bar">
										<span>{{(file.progress() * 100).toFixed(0)}}%</span>
									</div>
								</div>
								<div></div>
								<a href="#" class="btn btn-info " ng-click="file.cancel()"> Remove </a>
								<div class="mt-2"></div>
							</div>
						</div>

					</div>
				</div>


				<div class="row m-2">
					<input type="submit" value="Add" ng-disabled="form-submitted" class="form-control btn btn-info" />
				</div>

			</form>
		</div>
	</div>

	<div th:include="components/footer :: footerBody" th:remove="tag"></div>
	
</body>
</html>