<!doctype html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="/js/ng-flow-standalone.min.js"></script>
</head>
<body>
	<script>
		var app = angular.module('app', [ 'flow' ])

		app.config([ 'flowFactoryProvider', function(flowFactoryProvider) {
			flowFactoryProvider.defaults = {
				target : 'post/uploadImage',
				permanentErrors : [ 404, 500, 501 ],
				maxChunkRetries : 1,
				chunkRetryInterval : 5000,
				simultaneousUploads : 4
			};
			flowFactoryProvider.on('catchAll', function(event) {
				console.log('catchAll', arguments);
			});
		} ]);
		app.controller('MyCtrl', [ '$scope', function($scope) {

		} ]);
	</script>
	<div ng-controller="MyCtrl">


		<div flow-init="{target: '/upload'}"
			flow-files-submitted="$flow.upload()"
			flow-file-success="$file.msg = $message">

			<div class="alert" flow-drop>Drag And Drop your file here</div>

			<span class="btn" flow-btn>Upload File</span>

			<table>
				<tr ng-repeat="file in $flow.files">
					<td>{{$index+1}}</td>
					<td>{{file.name}}</td>
					<td>{{file.msg}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>