<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example - example-ng-submit</title>


<script th:include="components/header :: headerLibrary" th:remove="tag"></script>

<script src="/js/ng-flow-standalone.min.js"></script>
<script src="/js/angular-sortable-view.min.js"></script>

<style>
.thumbnail {
	max-width: 200px;
	max-height: 150px;
	line-height: 20px;
	margin-bottom: 5px;
}
</style>
</head>
<body ng-app="application">

	<script>
		var main = angular.module('application', [ 'flow', 'angular-sortable-view' ])

		main.controller('messageController', function($scope, $http, $timeout, $window) {
			$scope.submit = function(flow) {
				$scope.posting = true;

				if ($scope.postMessage != '') {
					console.log($scope.postMessage);
					console.log(flow.files);
					var fileList = [];

					angular.forEach(flow.files, function(value, key) {
						var msg = JSON.parse(value.msg);
						if (msg.status === 'success') {
							fileList.push(msg.filePath);
						}
						console.log(key + ': ' + msg.filePath);
					});

					console.log(fileList);
					$http({
						url : "/post/writePost",
						method : "POST",
						headers : {
							'Content-Type' : 'application/json'
						},
						data : {
							'postMessage' : $scope.postMessage,
							'fileList' : fileList
						}
					}).then(function(response) {
						if (response.data.status == 'success') {
							$scope.message("Post Success");

							$timeout(function() {
								$window.location.href = '/u';
							}, 1000);
						} else {

							$scope.message("Something error, please contact system adminsitrator");

							$timeout(function() {
								$scope.dialogMessageFlag = false;
								$scope.posting = false;

							}, 3000);
						}

					});
				}

			}
			
			$scope.message = function(message) {
				$scope.dialogMessageFlag = true;
				$scope.dialogMessage = message;
			}
		});
	</script>

	<div th:include="components/header :: header"></div>

	<div ng-controller="messageController" class="container">
		<div class="hero-unit">
			<div class="text">
				<textarea ng-model="postMessage"></textarea>
			</div>
			<form flow-init="{target: '/post/uploadImage', testChunks:false}"
				flow-files-submitted="$flow.upload()"
				flow-file-success="$file.msg = $message" ng-submit="submit($flow)">

				<div class="alert" flow-drop
					flow-drag-enter="style={border:'4px solid green'}"
					flow-drag-leave="style={}" ng-style="style">Drag And Drop
					your file here</div>

				<span class="btn" flow-btn>Select File</span>


				<table sv-root sv-part="$flow.files">
					<tr ng-repeat="file in $flow.files" sv-element="opts"
						class="well grid">
						<td><div class="btn" sv-handle>{{$index+1}}</div></td>
						<td>{{file.name}}</td>
						<td>{{file.msg}}</td>
						<td><img flow-img="file" style="width: 200px" /></td>
						<td><a href="#" class="btn btn-danger"
							ng-click="file.cancel()"> Remove </a></td>

					</tr>
				</table>
				<div>
					<button type="submit" class="btn" ng-disabled="posting"
						ng-init="posting = false">Post</button>
				</div>

			</form>
		</div>
		<div id="myModalPostMessage" ng-show="dialogMessageFlag"
			ng-init="dialogMessageFlag = false" class="alert modal">
			<span class="row offset2">{{dialogMessage}} <a href="#"
				class="close" ng-click="dialogMessageFlag = false">X</a></span>
		</div>
	</div>
</body>
</html>